{{ define "main" }}
  <section id="sec-random-pages" class="mt-8">
    {{ range .Pages.GroupByDate "2006-01-02" }}
    <div>
        <h3 class="flex text-xl font-semibold">
            {{ .Key | time.Format "2006-01-02" }}
        </h3>
      </div>
      {{ range .Pages.ByDate }}
      <article class="pb-6">
        <div>
        <div class="prose dark:prose-invert">
            <p class="text-sm text-neutral-400">
            {{ .Content | emojify }}
            </p>
        </div>
        </div>
      </article>
      {{ end }}
    {{ end }}
  </section>
{{ end }}
