{{ define "main" }}
<section id="sec-random-pages">
    {{ range .Pages.GroupByDate "2006-01-02" }}
    <div class="random-day">
        <h3 class="random-day-heading">{{ .Key | time.Format "2006-01-02" }}</h3>
        {{ range .Pages.ByDate.Reverse }}
        <article>
            <div class="prose">
                {{ .Content | emojify }}
                {{ with .Params.Tags }}
                <ul class="random-tags">
                    {{ range . }}
                    <li><a href="/tags/{{ . | urlize }}">#{{ . }}</a></li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>
        </article>
        {{ end }}
    </div>
    {{ end }}
</section>
{{ end }}
