{{ with site.Language.Params.Author.links }}
  <div class="author-links">
    {{ range $links := . }}
      {{ range $name, $url := $links }}
        <a
          class="author-link"
          href="{{ $url | safeURL }}"
          target="_blank"
          aria-label="{{ $name | title }}"
          rel="me noopener noreferrer"
        >{{ partial "icon.html" $name }}</a>
      {{ end }}
    {{ end }}

    {{ with site.Language.Params.Author.emailUser }}
      <a
        class="author-link"
        data-eu="{{ . }}"
        data-ed="{{ site.Language.Params.Author.emailDomain }}"
        href="#"
        aria-label="Email"
        rel="noopener noreferrer"
      >{{ partial "icon.html" "email" }}</a>
      <script>
        (function () {
          document.querySelectorAll("a[data-eu][data-ed]").forEach(function (el) {
            el.href = "mailto:" + el.dataset.eu + "@" + el.dataset.ed;
          });
        })();
      </script>
    {{ end }}
  </div>
{{ end }}
