/*
I don't like the ticks around inline code, so I remove them
*/
.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))::before {
    content: none;
}

.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))::after {
    content: none;
}

.prose.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    padding-left: 1ch;
    padding-right: 1ch;
}

#sec-random-pages article ul {
    list-style-type: none;
    padding: 0;
}

#sec-random-pages article li {
    background-color: rgba(var(--color-neutral-900), 0.9);
    padding: 1em;
}